body {
	background-color: #ECF0F1;
	font-family: 'Poppins', sans-serif;
	color: white;
	padding: 0;
	margin: 0;
}

header {
    display: flex;
	background-color: #ffffff;
	box-shadow: 0 10px 10px rgba(0, 0, 0, .05);
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

.img-header {
	height: 65px;
	margin: 0 10px;
}

#principal {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: calc(100vh - 80px);
}

#centraliza {
	display: flex;
}

.container {
	height: 400px;
	text-align: center;
	box-shadow: 10px 0 15px rgba(0, 0, 0, .08);
}

/*-------------------------- descrição ------------------------------*/

#descricao {
	background-color: #2F9E40;
	border-radius: 30px 0 0 30px;
	width: 280px;
}

#descricao h3 {
	font-size: 28px;
	margin-top: 70px;
}

#descricao p {
	text-align: left;
	margin: 0 20px;
	font-size: 15px;
	padding: 0 30px;
	margin-bottom: 100px;
}

#descricao a {
	color: white;
	font-size: 12px;
	padding: 30px;
}

/*-------------------------- formulario ------------------------------*/

#formulario {
	width: 400px;
	background-color: #ffffff;
	border-radius: 0 30px 30px 0;
	display: flex;
	align-items: center;
}

.form {
	width: 300px;   
    text-align: center;
    background: white;
    padding: 0 30px;
    margin: 0 auto;
}

.entradas {
    padding: 20px 0;
    align-items: center;
    margin-bottom: 20px;
}

.entradas input {
    height: 30px;
    padding: 0 5px;	
    border: none;
    border-bottom: 1px solid #7f8c8d;
    transition: .3s;
}

.entradas input:focus {
    border-style: none  ;
    height: 30px;
    padding: 0 5px;
    border: none;
    border-bottom: 1px solid #27ae60;
    outline: none;
}

.entradas .email {
    margin: 15px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.entradas .pass {
    margin: 15px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.email {
    margin: 15px 0;
}

.entradas ion-icon {
    font-size: 20px;
    margin-right: 10px;
    color: #7f8c8d;
}

.btn .button {
	font-size: 15px;
    padding: 9px 30px;
    border: none;
    border-radius: 20px;
    color: white;
    background-color: #2f9e40;
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;
    transition: .5s;
}

.btn .button:hover {
    padding: 9px 30px;
    border: none;
    border-radius: 20px;
    color: white;
    background: #2ecc71;
    font-weight: 400;
    cursor: pointer;
}

hr {
    color: #ffffff;
    width: 75%;
    margin: 0 auto;
    margin-top: 50px;
}

.desc .fonte {
    font-weight: 500;
}

.desc h6  {
	font-size: 12px;
    color: #2f9e40;
}

.desc h6 a {
	font-size: 12px;
    color: #ca3120;
    text-decoration: none;
}

.desc h6 a:hover {
    text-decoration: underline;
}



/*-------------------------------------------- Tela inicial --------------------------------------------*/


/* - - - - - CABEÇALHO - - - - - */

.coma-feliz {
    height: 70px;
    margin-right: 30px;
}

/* - - - - - CORPO DO SITE - - - - - */

#principal2 {
    margin: 0 auto;
    background-color: white;
    width: 70%;
    box-shadow: 0px 0 10px rgba(0, 0, 0, .05);
}

/* - - - -  DATA-HORA  - - - - */

.data-hora {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
    border-bottom: solid 1px #636e72;
    background-color: #2F9E40;
    font-size: 0.8em;
}

.data-hora > p {
    font-size: 14px;
    font-weight: 400;
    margin: 0px 40px;
    color: white;
}
.botao {
    display: flex;
    text-decoration: none;
    background-color: #cc3726;
    align-items: center;
    padding: 10px 15px;
    border-radius: 20px;
    font-size: 13px;
    color: white;
    margin-right: 40px;
    border: none;
    transition: .3s;
}

.botao:hover {
    background-color: #d95344;
}

.botao ion-icon {
    margin: 0 10px 0 0;
    font-size: 15px;
}

/* - - - - - RODAPÉ - - - - - */

footer {
    margin-top: 0px;
    background-color: white;
    color: black;
    text-align: center;
    border-top: solid 1px black;
}

footer > p {
    margin: 0px;
}

footer > p > a{
    color: black;
    font-weight: bolder;
    text-decoration: none;
}

footer > p > a:hover {
    text-decoration: underline;
}



/*------------------------------- Solicitação Adm --------------------------------*/

.corpo {
    margin-top: 50px;
    padding-bottom: 30px;
}

.solicitacao .uniao {
    display: flex;  
    align-items: center;
    padding: 20px 100px;
    padding-bottom: 0;
}

.solicitacao .uniao .imagem_usuario ion-icon {
    width: 30px;
    height: 30px;
    padding: 10px;
    border-radius: 50%;
    color: #7f8c8d;
    background-color: #bdc3c7;
}

.solicitacao .uniao .identificacao {
    width: 80%;
    margin-left: 15px;
    margin-bottom: 5px;
}

.solicitacao .uniao .identificacao #nome h4{
    font-size: 15px;
}
.solicitacao .uniao .identificacao #matricula h4{
    font-size: 15px;
    font-weight: normal;
}

.solicitacao .uniao .identificacao h4 {
    color: #2d3436;
    margin: 0;
    padding: 0;
}

.solicitacao .uniao .buttons {
    width: 100px;
    display: flex;
    justify-content: center;
}

.solicitacao .uniao .buttons button {
   width: 45px;
   height: 45px;
   border: none;
   margin: 3px;
   cursor: pointer;
}

.solicitacao .uniao .buttons #no{
    background-color: #cc3726;
    transition: .2s;
}

.solicitacao .uniao .buttons #no:hover{
    background-color: #d95344;
}

.solicitacao .uniao .buttons #yes{
    background-color: #2F9E40;
    transition: .2s;
}

.solicitacao .uniao .buttons #yes:hover{
    background-color: #519D5C;
}

.solicitacao .uniao .buttons ion-icon{
    font-size: 25px;
    color: white;
    text-decoration: none;
}

.solicitacao #justificativa{
    color: black;
    font-size: 13px;
    padding: 0 166px 20px 166px;
    margin-bottom: 20px;
    border-bottom: 1px solid #b2bec3;
}

/*------------------------------- Lista de Alunos --------------------------------*/

#principal2 .data-hora .btn_nav {
    display: flex;
}

#principal2 .alunos {
    color: black;
    padding-bottom: 30px;
}

#principal2 .alunos .data {
    text-align: center;
    border-bottom: 1px solid #b2bec3;
    margin: 20px;
}

#principal2 .alunos .data h4 {
    font-weight: normal;
}

#principal2 .alunos .nomes {
    text-align: left;
    margin: 50px 100px;
}

#principal2 .alunos .nomes h5 {
    font-weight: normal;
    margin-bottom: 10px;
}