body {
	background-color: #ECF0F1;
	font-family: 'Poppins', sans-serif;
	color: white;
	padding: 0;
	margin: 0;
}

header {
    display: flex;
	background-color: #ffffff;
	box-shadow: 0 10px 10px rgba(0, 0, 0, .05);
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

.img-header {
	height: 65px;
	margin: 0 10px;
}

#principal {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: calc(100vh - 80px);
}

#centraliza {
	display: flex;
}

.container {
	height: 400px;
	text-align: center;
	box-shadow: 10px 0 15px rgba(0, 0, 0, .08);
}

/*-------------------------- descrição ------------------------------*/

#descricao {
	background-color: #2F9E40;
	border-radius: 30px 0 0 30px;
	width: 280px;
}

#descricao h3 {
	font-size: 28px;
	margin-top: 70px;
}

#descricao p {
	text-align: left;
	margin: 0 20px;
	font-size: 15px;
	padding: 0 30px;
	margin-bottom: 100px;
}

#descricao a {
	color: white;
	font-size: 12px;
	padding: 30px;
}

/*-------------------------- formulario ------------------------------*/

#formulario {
	width: 400px;
	background-color: #ffffff;
	border-radius: 0 30px 30px 0;
	display: flex;
	align-items: center;
}

.form {
	width: 300px;   
    text-align: center;
    background: white;
    padding: 0 30px;
    margin: 0 auto;
}

.entradas {
    padding: 20px 0;
    align-items: center;
    margin-bottom: 20px;
}

.entradas input {
    height: 30px;
    padding: 0 5px;	
    border: none;
    border-bottom: 1px solid #7f8c8d;
    transition: .3s;
}

.entradas input:focus {
    border-style: none  ;
    height: 30px;
    padding: 0 5px;
    border: none;
    border-bottom: 1px solid #27ae60;
    outline: none;
}

.entradas .email {
    margin: 15px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.entradas .pass {
    margin: 15px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.email {
    margin: 15px 0;
}

.entradas ion-icon {
    font-size: 20px;
    margin-right: 10px;
    color: #7f8c8d;
}

.btn .button {
	font-size: 15px;
    padding: 9px 30px;
    border: none;
    border-radius: 20px;
    color: white;
    background-color: #2f9e40;
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;
    transition: .5s;
}

.btn .button:hover {
    padding: 9px 30px;
    border: none;
    border-radius: 20px;
    color: white;
    background: #2ecc71;
    font-weight: 400;
    cursor: pointer;
}

hr {
    color: #ffffff;
    width: 75%;
    margin: 0 auto;
    margin-top: 50px;
}

.desc .fonte {
    font-weight: 500;
}

.desc h6  {
	font-size: 12px;
    color: #2f9e40;
}

.desc h6 a {
	font-size: 12px;
    color: #ca3120;
    text-decoration: none;
}

.desc h6 a:hover {
    text-decoration: underline;
}



/*------------------------------ Tela inicial --------------------------------*/

/* - - - - - CORPO DO SITE - - - - - */

#principal2 {
    margin: 0 auto;
    background-color: white;
    width: 70%;
    height: 555px;
    box-shadow: 0px 0 10px rgba(0, 0, 0, .05);
}

/* - - - -  DATA-HORA  - - - - */

.data-agendamento {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    border-bottom: solid 1px #636e72;
    background-color: #2F9E40;
    font-size: 0.8em;
}

.data-agendamento > p {
    font-size: 14px;
    font-weight: 400;
    margin: 0 0 0 10px;
    color: white;
}
.botao {
    text-decoration: none;
    background-color: #cc3726;
    align-items: center;
    padding: 10px 15px;
    border-radius: 20px;
    font-size: 14px;
    color: white;
    margin-right: 10px;
    border: none;
    transition: .3s;
}

.botao ion-icon {
    margin: 0 10px 0 0;
    font-size: 15px;
}


/*  - - - - - AGENDAMENTOS - - - - - */

.agendamentos-feitos {
    margin: 0;
    background-color: white;
    height: 450px;
    padding: 20px;
}
.agendamentos-feitos > h3{
    margin: 20px 0 20px 20px;
    font-size: 20px;
    text-align: left;
    color: #636e72;
    font-weight: inherit;
}

/* - - - - - TABELA - - - - - */

table {
    margin: 30px auto;
    background-color: rgb(110, 110, 110);
    width: 70%;
    font-size: 14px;
    color: black;
}

th {
    background-color: lightgray;
    font-weight: normal;
    padding: 10px;
}
td {
    background-color: whitesmoke;
    text-align: center;
    padding: 10px;
}

/* - - - - - RODAPÉ - - - - - */

footer {
    margin-top: 0px;
    background-color: white;
    color: black;
    text-align: center;
    border-top: solid 1px black;
}

footer > p {
    margin: 0px;
}

footer > p > a{
    color: black;
    font-weight: bolder;
    text-decoration: none;
}

footer > p > a:hover {
    text-decoration: underline;
}

/*---------------------------- Tela de solicitação ---------------------------*/

.componentes {
    margin: 30px auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.soli {
    width: 80%;
    height: 30px;
    margin: 20px auto 0 auto;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
}

#story {
    height: 30vh;
}

#btn-eviar {
    width: auto;
    margin: 40px 90px 0 auto;
}

/* - - - - - - - - - - - - - Media Query - - - - - - - - - - - - - - - */

@media only screen and (max-width:320px ) {

    /* - - - - header - - - - -  */
    .imagem {
        margin: 0px;
    }

    /* - - - - corpo (TelaInicial/solicitação) - - - - */

    #principal2 {
        width: 100%;
    }

    /* - - - - - - INDEX (Tela de Login) - - - - - - */
    
    #principal {
        display: flex;
        flex-direction: column-reverse;
    }
    
    #centraliza {
        display: flex;
        flex-direction: column-reverse;
        margin: 0px;
    }
    
    .container {
        height: 400px;

    }
    #descricao {
        border-radius: 0;
        width: 100%;
    }
    #formulario {
        width: 100%;
        border-radius: 0;
    }


    /* - - - - TelaInicial - - -  - */

    table {
        width: 100%;
    }

    .data-agendamento > p {
        font-size: 12px;
        margin: 0px;
    }
    .botao {
        padding: 7px 10px;
        border-radius: 15px;
        font-size: 12px;
        margin: 0px;
    }
    
    .botao ion-icon {
        margin: 0 10px 0 0;
        font-size: 12px;
    }

}

@media only screen and (max-width: 480px) {
    
    /* - - - - - - header - - - - - - */
    .imagem {
        height: 60px;
        margin: 0px;
    }

    /* - - - - - - INDEX (Tela de Login) - - - - - - */
    #principal {
        display: flex;
        flex-direction: column-reverse;
    }
    
    #centraliza {
        display: flex;
        flex-direction: column-reverse;
        margin: 0px;
    }
    
    .container {
        height: 400px;

    }
    #descricao {
        border-radius: 0;
        width: 100%;
    }
    #formulario {
        width: 100%;
        border-radius: 0;
    }


    /* - - - - corpo (TelaInicial/solicitação) - - - - */

    #principal2 {
        width: 100%;
    }

    /* - - - - - telaInicial - - - - - */

    .data-agendamento > p {
        margin-left: 5px;
        font-size: 11px;
    }
    .botao {
        margin-right: 5px;
        font-size: 11px;
    }
    .botao ion-icon {
        margin: 0 10px 0 0;
        font-size: 11px;
    }
}

@media only screen and (max-width: 768px) {

     /* - - - - - - INDEX (Tela de Login) - - - - - - */
     #principal {
        display: flex;
        flex-direction: column-reverse;
    }
    
    #centraliza {
        display: flex;
        flex-direction: column-reverse;
        margin: 0px;
    }
    
    .container {
        height: 400px;

    }
    #descricao {
        border-radius: 0;
        width: 100%;
    }
    #formulario {
        width: 100%;
        border-radius: 0;
    }


    /* - - - - corpo (TelaInicial/solicitação) - - - - */
    #principal2 {
        width: 100%;
    }
    /* - - - - - telaInicial - - - - - */

    .data-hora > p {
        margin-left: 10px;
    }
    .botao {
        margin-right: 10px;
    }
}